<h4 class="text-center mt-0">Dashbord</h4>
<div class="text-center">
    <p-avatar 
            image="https://picsum.photos/200" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle"></p-avatar>
</div>

<div>
    <div>
        <p-menu [model]="sideBarItems"></p-menu>
    </div>
    <div>
        
        <!-- <div *ngFor="let category of allCategories">
            {{category.name}}
        </div> -->
        
        <div>
            <h4>List of categories</h4>
            <p-listbox 
                (ngModelChange)="onCategorySelect($event)" 
                [options]="allCategories" 
                [(ngModel)]="selectedCategoryId" 
                optionLabel="name" 
                optionValue="id" 
                [style]="{'width':'15rem'}">
            </p-listbox>
        </div>
    </div>
    
</div>