<p-sidebar 
        [(visible)]="sidebarVisible" 
        [position]="'right'"
        [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'"
        styleClass="w-30rem">
    
        <div>
            <h2>{{operation === 'create' ? 'Create Product' : 'Update Product'}}</h2>
            <div class="field">
                <label for="name">Name</label>
                <input 
                    [(ngModel)]="product.name"
                    id="name" 
                    pInputText 
                    placeholder="Product name" 
                    type="text" 
                    class="w-full">
            </div>
        
            <div class="field">
                <label for="description">Description</label>
                <input 
                    [(ngModel)]="product.description"
                    id="description" 
                    pInputText 
                    placeholder="Product description" 
                    type="text" 
                    class="w-full">
            </div>
        
            <div class="field">
                <label for="price">Price</label>
                <input 
                    [(ngModel)]="product.price"
                    id="price" 
                    pInputText 
                    placeholder="Product price" 
                    type="number" 
                    class="w-full">
            </div>
        
            <div class="field">
                <label for="isAvailable">is Available</label>
                <div class="flex align-items-center">
                    <p-radioButton name="isAvailable" value="yes" [(ngModel)]="product.isAvailable" inputId="yes"></p-radioButton>
                    <label for="yes" class="ml-2">Yes</label>
                </div>
                
                <div class="flex align-items-center mt-2">
                    <p-radioButton name="isAvailable" value="no" [(ngModel)]="product.isAvailable" inputId="no"></p-radioButton>
                    <label for="no" class="ml-2">No</label>
                </div>
            </div>

            <div class="field">
                <label for="category">Category</label>
                <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="name"></p-dropdown>
            </div>
        
            <button [disabled]="!isProductValid()"
                    (click)="onSaveProduct(product)"
                    pButton
                    label="Submit"
                    class="w-full"></button>
            
            <button (click)="onCancel()"
                    pButton 
                    label="Cancel" 
                    class="w-full p-button-outlined p-button-danger mt-2"></button>  
        </div>
</p-sidebar>

<div class="flex align-items-stretch" style="height: 99vh;">
    <div class="flex flex-column align-items-stretch border-right-1 col-2 border-gray-200">
        <app-sidebar 
            (categoryId)="handleSelectedCategoryId($event)"
            (loadAllProducts)="handleLoadAllProducts()"
            >
        </app-sidebar>
    </div>
    <div class="flex flex-column flex-grow-1">
        <div>
          <app-header></app-header>  
        </div>
        <div class="main-container p-3">
            <button *ngIf="isUserAdmin()"
                pButton 
                icon="pi pi-plus" 
                label="Create New Product" 
                class="p-button-success" (click)="onCreateProduct()"></button>
            
            <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4">
                <div  *ngFor="let product of allProducts">
                    <div>
                        <p-card [style]="{width: '316px'}" styleClass="p-card-shadow text-center">
                            <ng-template pTemplate="header">
                                <div>
                                    <img 
                                        src="https://picsum.photos/200"
                                        class="border-round-top cover"
                                        height="260px"
                                        alt="Card"/>
                                </div>
                            </ng-template>
                        
                            <ng-template pTemplate="content">
                                <p-badge value={{product.price}} DH></p-badge>
                                <p class="text-gray-600">{{product.name}} </p>
                                <p class="text-gray-600">{{product.description}}</p>
                            </ng-template>
                        
                            <ng-template pTemplate="footer"  >
                                <div style="padding: 0; margin: 0;">
                                    <button style="margin: 3px !important;"
                                        (click)="onAddToCart()"
                                        pButton 
                                        label="Add to cart" 
                                        class="p-button-success p-button-outlined p-button-rounded mb-4">
                                    </button>
                                </div>
                                
                                <div style="padding: 0; margin: 0;">
                                    
                                    <button  *ngIf="isUserAdmin()"
                                        pButton 
                                        label="Update" 
                                        class="p-button-secondary p-button-outlined p-button-rounded">
                                    </button>
                        
                                    <button *ngIf="isUserAdmin()"
                                        (click)="onDeleteProduct(product)"
                                        pButton 
                                        label="Delete" 
                                        class="p-button-danger p-button-outlined p-button-rounded ml-2">
                                    </button>
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- toast after saving new customer -->
<p-toast position="bottom-center"></p-toast>

<!-- confirmation dialog before deleting a customer -->
<p-confirmDialog 
    header="Confirmation" 
    icon="pi pi-exclamation-triangle"
    acceptLabel="Delete"
    acceptButtonStyleClass="p-button-danger"
    rejectLabel="Cancel">
</p-confirmDialog>
